* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body  */

body * {
    background-color: rgba(255, 255, 255, 1);

}

#homepage_main_content_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 8px;   
    background-color:transparent
}

#homepage_main_content_area aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#container {
    height: 100vh;
    background-color: rgba(238, 223, 15, 0.2);
}

/* personal info section  */

#personal_info_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 5px;
    gap: 10px;
}

.personal_info_section_shell {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    pointer-events:none;
    margin: 8px;
}

.personal_info_section_shell textarea {
    resize: none;
    border: none;
    border-radius: 6px;
    padding: 2px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

.personal_info_section_shell input {
    border: none;
    border-radius: 6px;
    padding: 2px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
}


/* header section  */

header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

#nav_section {
    display: flex;
    flex-direction: row;
}

#nav_section button {
    border: none;
    border-radius: 8px;
    padding: 2px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    margin: 3px;
}

/* Posts display section */

.post_shell {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    outline: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 100%;
}

.post_header {
    
}

.post_name_and_date {
    display: flex;
    flex-direction: column;
}

.post_content {

}

#existing_posts_area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
    background-color: transparent;
}

/* Create posts section */

#posts_area {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 10px;
    width: 100%;
    flex: 1;
    margin-top: 10px;
}

#create_post_section {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 8px;
    width: 100%;
}

#create_post_section textarea {
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    resize: none
}

#create_post_utility {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 8px;
}

/* comments display section */

#existing_comments {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    width: 100%;
}

.comment_shell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px;
    border-radius: 8px;
    background-color: rgba(131, 131, 131, 0.15);
}

.comment_shell * {
    background-color: transparent
}

/* comments display section */

#existing_comments {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    width: 100%;
}

.comment_shell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px;
    border-radius: 8px;
    background-color: rgba(131, 131, 131, 0.15);
}

.comment_shell * {
    background-color: transparent
}

/* post modal section  */

.post_modal_container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    background-color: rgba(138, 138, 138, 0.3);
    width: 100%;
    position: fixed;
}

.post_modal_container dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
    width: 80%;
    gap: 4px;
    box-shadow: 2px 2px 6px 5px rgba(0, 0, 0, 30%);
}

/* responsive mobile */

@media only screen and (max-width: 400px) {

    #homepage_main_content_area {
        flex-direction: column;
    }

    #posts_area {
        width: 100%;
    }

}
