* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body  */

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgba(238, 223, 15, 0.2);
}

body * {
    background-color: rgba(255, 255, 255, 1);
}

#homepage_main_content_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 223, 15, 0.2);
    padding: 8px;
}

/* header section  */

header {
    
}

#nav_section {
    display: flex;
    flex-direction: row;
}


#nav_section button {
    border: none;
    border-radius: 8px;
    padding: 2px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    margin: 3px;
}

#nav_section button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* personal info section  */

#personal_info_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
    margin: 5px;
}

/* Posts section */

#posts_area {
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 223, 15, 0.2);
    gap: 10px;
    flex: 1;
    margin: 5px;
}

#post_shell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#create_post_section {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 8px;
    width: 100%;
}

#create_post_section textarea {
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    resize: none
}

#create_post_utility {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 8px;
}

/* handle notifications modal display */

#notification_button_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#notification_modal {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 150px;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 2px 0px 6px 0px black;
    padding: 5px;
    overflow-y: hidden;
}

/* responsive mobile */

@media only screen and (max-width: 400px) {

    #homepage_main_content_area {
        flex-direction: column;
    }

    #personal_info_section {
        width: 100%;
    }

    #posts_area {
        width: 100%;
    }

}
